@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    
    
}

/*######### ANIMACOES #########*/
@keyframes down {
    0% {
        transform: translateY(-50px);
        opacity: 1%;
    }
    50%{
        transform: translateY(-0px);
        opacity: 90%;
    }
    
    
}

/* NAVBAR DARK MODE */
.navbar.active {
    background: #fff;
}

.navbar_logo.active {
    color: black;
    font-weight: lighter;
    transition: ease 0.8s;
}

.navbar_menu.active{
    color: black;
    transition: ease 0.8s;
}

.navbar_links.active {
    color: black;
}
.navbar_links.active:hover {
    color: #6C60F5;
    transition: all 0.3s ease;
}
.navbar_links2.active:hover {
    color: #6C60F5;
    transition: all 0.3s ease;
}
.navbar_links3.active:hover {
    color: #6C60F5;
    transition: all 0.3s ease;
}
.navbar_links2.active {
    color: black;
}
.navbar_links3.active {
    color: black;
}

.btnmode {
    width: 60px;
    height: 25px;
    border: 2px solid #acacac;

    border-radius: 60px;
    position: relative;
    cursor: pointer;
    transition: 0.8s;
}

.btnmode::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #acacac;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: ease 0.8s;
}

.btnmode.active::before{
    left: 36px;
    
}

/* TELA INICIO DARK MODE */
.baer.active {
    color: black;
}

.submain.active {
    color: black;
}

.main.active {
    background: #fff;
    transition: ease 0.8s;
}

/* TELA SOBRE */
/* TELA PROJETOS */

.services.active {
    background-color: #fff;
}

.services.active {
    background-color: #fff;
}
